<h1>Fire Nation</h1>
<h4>Total Number of People Who Live in the Fire Nation: <% %></h4>
<table style="border:1px solid black;" id="m_table">
    <tr>
      <th style="border: 1px solid black">List of Allies</th>
      <th style="border: 1px solid black">List of Enemies</th>
      <th style="border: 1px solid black">List of Affiliations</th>
      <th style="border: 1px solid black">Photo</th>
    </tr>
    <% %>
    <tr>
      <td style="border: 1px solid black"><% %></td>
      <td style="border: 1px solid black"><% %></td>
      <td style="border: 1px solid black"><% %></td>
      <td style="border: 1px solid black"><% %></td>
    </tr>
  </table>  